::-webkit-scrollbar {
  width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #bfdbfe;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
  background: #3b82f6;
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2563eb; 
}

@media (min-width: 1280px) {
  main::-webkit-scrollbar-track,
  main::-webkit-scrollbar-thumb {
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
  }
}

a img:hover {
  filter: drop-shadow(0 0 0.75rem #3b82f6);
}