::-webkit-scrollbar {
  width: .5rem;
}

  /* Track */
::-webkit-scrollbar-track {
  background: #000000;
}
    
  /* Handle */
::-webkit-scrollbar-thumb {
  background: #d1d1d1;
}
  
    /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2d2d2d; 
}

@media (min-width: 1024px) {
  /* Track */
  main[id="main"]::-webkit-scrollbar-track {
    background: #bfdbfe;
  }
    
  /* Handle */
  main[id="main"]::-webkit-scrollbar-thumb {
    background: #3b82f6;
  }
  
    /* Handle on hover */
  main[id="main"]::-webkit-scrollbar-thumb:hover {
    background: #2563eb; 
  }

  /* Track */
  main[id="music"]::-webkit-scrollbar-track {
    background: #c4b5fd;
  }
    
  /* Handle */
  main[id="music"]::-webkit-scrollbar-thumb {
    background: #6366f1;
  }
  
    /* Handle on hover */
  main[id="music"]::-webkit-scrollbar-thumb:hover {
    background: #7c3aed; 
  }

  /* Track */
  main[id="nature"]::-webkit-scrollbar-track {
    background: #86efac;
  }
      
  /* Handle */
  main[id="nature"]::-webkit-scrollbar-thumb {
    background: #22c55e;
  }
    
  /* Handle on hover */
  main[id="nature"]::-webkit-scrollbar-thumb:hover {
    background: #16a34a; 
  }
  
  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-thumb {
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
  }
}

a img:hover {
  filter: drop-shadow(0 0 0.75rem #3b82f6);
}